# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
*.h5
.DS_Store

# Flask
instance/
*.sqlite3

# Jupyter
.ipynb_checkpoints/

# Node (React frontend)
node_modules/
build/
dist/
.env.local
.env.development
.env.production

# VS Code
.vscode/

# General
*.log
